extends layout

block content
  div#banner
    p#p1 Nur limitierte Plätze verfügbar! Melden sie sich innerhalb von 15 Minuten kostenlos an um sich ein Platz zu sichern.
  div#header
    div#box1
      h1#title1= "Bitcoin World"
      img#image1(src='/images/bitcoin.svg')
  div#text1
    p#p2 Noch kein Großes Haus mit Pool und Porsche in der Garage? Dann kannst Du sofort mit unserer neuen Spitzentechnologie und Algorithmen schon über 3.000 tausend Euro am Tag verdienen!
  div#part3
    div#left
      p S1
      p S2
      p S3
      p s4
      button#button1 jetzt anmelden
  
    div#right
      table
        tr 
          td 233
          td Julian
        tr 
          td 234
          td Niklas
        tr 
          td 232
          td Ed
              
