extends layout

block content
  body.body
    .text-center#c1
      span.s1 Nur limitierte Plätze verfügbar! Melden sie sich innerhalb von 15 Minuten kostenlos an um sich ein Platz zu sichern.
    .text-center#c2
      span#title Bitcoin World
      img#logo(
            src='/images/bitcoin.svg'
            class='align-top'
        ) 