doctype html
html
  head
    title= "Bitcoin World"
    link(rel='stylesheet', href='/stylesheets/test3.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body#body
  .text-center#viewport
        .text-center#wrapper
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            p Testionhalöty 
            