.body {
  background-color: #96d2ff
}

#c1 {
  background-color: crimson;
  color: white;
}

#c4 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.s1{
  font-size: 3em;
}

#logo {
  width: 8em;
  height: 8em;
  margin: 2em;
}
#title {
  font-size: 8em;
}
#bild1 {
  opacity: 0.7;
  max-width: 100%;
}

#text1 {
  position: absolute;
  color: white;
  width: 90%;
  max-width: 900px;
  font-size: 3em;
  margin-top: 2em;
}

#cta1 {
  font-size: 3em;
  margin: 1em;
}

.bild2 {
  width: 40rem;
  height: 40rem;
}

#colu {
  width: 100%;
  text-align: center;
}

.reihe {
  padding-top: 2em;
  padding-bottom: 2em;
}

/*Medium devices (landscape tablets >= 768px)*/ 
@media only screen and (min-width: 1000px) {
  .s1{
    font-size: 1.5em;
  }
  #text1{
    font-size: 2em;
  }
  #cta1 {
    font-size: 2em;
  }
  .bild2 {
    width: 17rem;
    height: 17rem;
  }
  #colu {
    width: auto;
    text-align: center;
  }
  #c5 {
    margin-top: 5em;
  }
  .bild3 {
    width: 17rem;
    height: 17rem;
  }
}