#c1 {
    background-color: red;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.s1 {
    font-size: 2.5em;
    line-height: 1.2em;
}

#title1 {
    font-size: 6em;
    color: orange;
    font-weight: bold;
    line-height: 1.7em;
}

#title2 {
    font-size: 6em;
    color: dimgray;
    font-weight: bold;
    line-height: 1.7em;
}

#logo {
    width: 9em;
    height: 9em;
    margin: 1em;
}

#c3 {
    background-image: url('/images/currency.jpg');
    /*background-color: green;*/
    height: 100em;
}

#p2 {
    font-size: 5em;
    color: white;
    font-weight: bold;
    line-height: 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

#p3 {
    font-size: 5em;
    color: white;
    line-height: 1em;
    padding-bottom: 0.5em;
}

#s2 {
    color: yellow;
    font-weight: bold;
}

#video {
    padding: 1.5em;
}

#c4 {
    background-color: white;
    margin: 1.5em;
}

#p4 {
    font-size: 5em;
    color: red;
    font-weight: bold;
    line-height: 1.1em;
}

#i1 {
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

#b1 {
    font-size: 4em;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#p5 {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#a1 {
    color: blue;
}

.img2 {
    height: 5em;
    width: auto;
}

#row1{
    margin-top: 2em;
}

#s3 {
    font-size: 2.5em;
    font-weight: bold;
}

#s4 {
    font-size: 4em;
    font-weight: 1000;
    color: orange;
}

#s5 {
    font-size: 4em;
    font-weight: 1000;
    color: dimgray;
}

#c6 {
    background-color:#d9f7ff;
    margin-top: 64em;
}

#p6 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    color: #1128a8;
    font-size: 4em;
    line-height: 1em;
}

#p7 {
    font-size: 3em;
    line-height: 1.3em;
    text-align: left;
    padding-left: 0.5em;
}

#p8 {
    font-size: 3em;
    line-height: 1.3em;
    font-weight: bold;
    text-align: left;
    padding-left: 1em;
    padding-top: 2em;
    padding-bottom: 1em;
}

#c7 {
    padding-bottom: 9em;
}

#p9 {
    font-size: 4em;
    font-weight: bold;
    color: dimgray;
    line-height: 1.3em;
    padding-top: 1em;
    padding-bottom: 0.8em;
}

#c9 {
    padding: 0;
}

.img3 {
   width: 100%;
}

#c10 {
    position: relative;
}

#c11 {
    position: absolute;
    top: 0em;
    padding: 0;
    width: 100%;
}

#c13 {
    position: absolute;
    top: 0em;
    padding: 0;
    width: 100%;
}

#c15 {
    position: absolute;
    top: 0em;
    padding: 0;
    width: 100%;
}

#c20 {
    position: absolute;
    top: 0em;
    padding: 0;
    width: 100%;
}

#c12 {
    position: absolute;
    top: 0em;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#c14 {
    position: absolute;
    top: 0em;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#c19 {
    position: absolute;
    top: 0em;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#c22 {
    position: absolute;
    top: 0em;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#c16 {
    position: absolute;
    top: 0em;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: aquamarine;
    opacity: 0.6;
}

#c17 {
    position: absolute;
    top: 0em;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: aquamarine;
    opacity: 0.6;
}

#c18 {
    position: absolute;
    top: 0em;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: aquamarine;
    opacity: 0.6;
}

#c21 {
    position: absolute;
    top: 0em;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: aquamarine;
    opacity: 0.6;
}

#p10 {
    font-size: 5em;
    color: white;
    margin-top: 8.5em;
    margin-block-end: 0%;
    max-width: 100%;
}

#p11 {
    margin-block-start: 0%;
    font-size: 3.5em;
    color: white;
    line-height: 0.8em;
    max-width: 100%;
}

#p12 {
    margin-block-start: 0%;
    font-size: 6em;
    color: #f5e10c;
    line-height: 0.8em;
    font-weight: bold;
    max-width: 100%;
}

#p13 {
    font-size: 3em;
    font-style: italic;
    color: white;
    margin: 2em;
    line-height: 1.3em;
}

#c23 {
    background-color: green;
}

.img4 {
    width: 25em;
    margin-top: 10em;
    margin-bottom: 5em;
}

#p14 {
    font-size: 5em;
    color: white;
    font-weight: bold;
    line-height: 1.2em;
}

#p15 {
    font-size: 2.5em;
    color: white;
    line-height: 1.4em;
    margin: 1em;
}

#cta2 {
    font-size:5em;
    font-weight: 1000;
    background-color: orange;
    padding: 0.7em;
    border-radius: 25px;
    color: white;
    margin-bottom: -1.5em;
}

#c24 {
    height: 100em;
}

#c25 {
    background-color:#d9f7ff;
}

#p16 {
    font-size: 5em;
    color:#333198;
    font-weight: bold;
    line-height: 1.2em;
}

#p17 {
    font-size: 2.5em;
    line-height: 1.4em;
    margin: 1em;
}

#cta3 {
    font-size:3em;
    font-weight: 1000;
    background-color: orange;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 25px;
    color: white;
    margin-bottom: -1.5em;
}

#p18 {
    font-size: 5em;
    color: dimgray;
    margin-top: 2em;
    line-height: 1.3em;
    font-weight: bold;
}

#c27 {
    margin: 3em;
}

#p19 {
    text-align: left;
    font-size: 3.5em;
    line-height: 1.1em;
    margin-left: 1rem;
    font-weight: 500;
    font-style: italic;
}

#p20 {
    text-align: left;
    font-size: 3em;
    line-height: 1.1em;
    margin-left: 1rem;
}

#c28 {
    background-color: green;
    padding-top: 3em;
    height: 50em;
}

#c29 {
    background-color: white;
    margin: 1.5em;
    margin-bottom: -3em;
}

#c30 {
    margin-top: 15em;
}

#p21 {
    text-align: left;
    margin: 2em;
    font-size: 2.4em;
    line-height: 1.3em;
}

#s20 {
    font-weight: bold;
}